.menu-container {
  background-color: #f5e8c3; 
}

.nav-link {
  font-weight: bold;
  color: #000; 
}

.nav-link:hover {
  color: #ff0000;
}

.alert-warning {
  background-color: #ffc107;
  color: #000;
  font-size: 0.875rem;
}

.carousel-item img {
  width: 100%; 
  height: 800px; 
  object-fit: cover; 
}

.baixap {
  text-align: left;
  font-size: 50px;
}

.advertisement {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Centraliza o conteúdo com espaço entre os itens */
  background-color: #d62300; /* Cor de fundo vermelho */
  padding: 20px 40px; /* Espaçamento interno */
  width: 100%; /* Ocupa 100% da largura */
  margin: 0 auto; /* Remove margem */
  border-radius: 0px; /* Remove bordas arredondadas */
  box-sizing: border-box; /* Inclui padding na largura total */
}

.phone {
  flex: 1;
  text-align: center;
}

.phone img {
  max-width: 70%;
  height: auto;
  border-radius: 20px; /* Bordas arredondadas do celular */
}

.text {
  flex: 2;
  text-align: left;
  margin-left: 40px;
  color: #fff; /* Cor branca para o texto */
}

.text h1 {
  font-size: 3rem; /* Tamanho grande para o título */
  font-weight: bold;
  line-height: 1.2; /* Espaçamento entre linhas */
  margin-bottom: 20px;
}

.stores {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.stores img {
  max-width: 150px;
  height: auto;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.footer {
  background-color: #5A2D0C;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer .top-links, .footer .bottom-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer .logo img {
  height: 50px;
  margin-right: 20px;
}

.footer .links a, .footer .bottom-links a {
  color: white;
  text-decoration: none;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.footer .social-media a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.footer .footer-bottom {
  margin-bottom: 20px;
}

.footer .back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer .back-to-top a {
  text-decoration: none;
}

.footer .back-to-top img {
  height: 30px;
}
